@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
      .hh {font-family: 'Hanna'; }
      .nbs {font-family: 'Nanum Brush Script';}
      .ng {font-family: 'Nanum Gothic';}
      .ngc {font-family: 'Nanum Gothic Coding';}
      .nm {font-family: 'Nanum Myeongjo';}
      .h3{font-family: 'Nanum Pen Script'; font-size: 50px;}

// 페이지의 높이를 브라우저 높이로 선언
html,body { height: 100%; margin: 0; padding: 0; }

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.h3{	
	margin-left: 400px;
	
}
.text-center {
    text-align: left;
}

.titleimg{
	width: 200px;
	height: 100px;
	margin-right: 20px; 
}

.text-right1{
	padding-left: 80%;
}
.navbar-brand1{
    height: 50px;
    padding: 10px 0px 20px 15px;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 20px;
}
.navbar-brand2{
	font-size: 30px;
}
.container1{
	font-family: 'Nanum Gothic Coding'; font-size: 15px;
    margin-left: auto;
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
}

/*탑 하위 메뉴  */
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 15px;
}
.dropdown-menu>li>a:HOVER{
	background-color: #2a8fcf;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #2a8fcf;
}